.super-mario {
    width: 200px;
    position: absolute;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 400px;
    left: 110px;
  }
  
  .baloon {
      position: absolute;
      width: 290px;
      top: 200px;
      left: 240px;  
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    top: 240px;
    left: 260px;
    z-index: 1;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    top: 350px;
    left: 500px;
  }