#cryptos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.2);    
    border-radius: 25px;
    padding: 2rem;            
}

.coin {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
    padding: 20px;
    transition: .5s;
    border-radius: 20px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    margin: 0.5vh;
    background-color: rgba(85, 206, 105, 0.363);    
}

.coin:hover {
    transform: scale(1.07);
}

#title {
    text-align: center;
}