/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
}

article {
}

h1 {
}

h2 {
}

img {
  max-width: 100%;
}

main {
}

section {
}

figure {
  margin: 0;
}

figcaption {
  font-size: 0.8em;
}

@media screen and (min-width: 320px) {
  body {
    background-color: lightgrey;
  }

  img {
    border-radius: 25px;
  }

  main {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }

  h1 {
    font-size: x-large;
  }

  h2 {
    font-size: larger;
  }

  p {
    font-size: medium;
  }
}

@media screen and (min-width: 920px) {
  body {
    background-color: lightgrey;
  }

  img {
    border-radius: 25px;    
  }

  figcaption {
      margin-bottom: 1vh;
  }

  section {
    display: flex;    
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  h1 {
    font-size: x-large;
  }

  h2 {
    font-size: larger;
  }

  p {
    font-size: medium;
  }
}
